body,html{
  height:100%;
}

.VeneerTwo { font-family: VeneerTwo; }
h1, h2, h3, h5, nav li { 
	font-family: VeneerTwo!important; 
	font-weight: normal!important;
	font-style: normal!important;  
}

.Veneer { font-family: Veneer; }
nav  { 
	font-family: Veneer!important; 
	font-weight: normal!important;
	font-style: normal!important;  
	font-size: 32px
}

.nav { width: 960px; margin: 0 auto}

.slide {
	width: 100%;
	margin: 0;
	padding: 0
	
}


#welcome {
	background:url(../img/secondBG.jpg) 50% -175px  no-repeat fixed;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative

}


#welcome  .welcome-container {top: 45%; position: absolute; text-align: center;  padding: 0; margin: 0; width: 100%}

#setup {
	background: url(../img/firstBG.jpg) 50% -100px no-repeat fixed;
	margin: 0;
	padding: 0;

}


#logging{
	background: url(../img/firstBG.jpg) 50% -100px no-repeat fixed;
	padding: 0 0 0 0;	
}

#chronicling{
	background:url(../img/firstBG.jpg) 50% -75px no-repeat fixed;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#tips{
	background: url(../img/secondBG.jpg) 50% -175px no-repeat fixed;
	margin: 0 auto;
	padding: 40px 0 0 0;
}


#about{
	background: url(../img/thirdBG.jpg) 50% -175px no-repeat fixed;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.navbar {display: none}
.navbar-inner {padding: 10px}


.section-title {text-align: center; padding: 125px; margin: 0 }


h2 {color: white; font-size: 102px!important; line-height: 100px; }
h3 {font-size: 64px; margin: 20px 0 30px 0 ; color: #444; }
.container {background: #f5f5f7; padding: 50px; }


.next{ margin: 20px auto; background: black; border-radius: 25px; text-align: center; padding: 25px; width: 20px }

p {font-family: 'IM Fell DW Pica', serif; font-size: 2em; line-height: 1.8em; color: #444}

.span9 {padding: 0 0 50px 0}

/* Large desktop */
@media (min-width: 1200px) {	
.span9 {margin: 0 auto; float: none; width: 1024px}
.container {background: #f5f5f7; width: auto}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) {  
h2 {color: white; font-size: 32px!important; line-height:72px } 


}

