.VeneerTwo { font-family: VeneerTwo; }
h1, h2, h3, h4, h5 { 
	font-family: VeneerTwo!important; 
	font-weight: normal!important;
	font-style: normal!important;  
}

.slide {
	width: 100%;
	background-color: transparent;
	margin: 0;
	padding: 0
	
}


#welcome {
	background:url(../img/firstBG.jpg) 50% -75px no-repeat fixed;
	border-bottom: 1px solid black;
	height: 600px;
	margin: 0 auto;
	padding: 160px 0 0 0;
}



#setup-title{
	background: url(../img/secondBG.jpg) 50% 0 no-repeat fixed ;
	border-bottom: 1px solid black;
	height: 250px;
	margin: 0;
	padding: 0;


}

#setup {
	background: #fefef7;
	margin: 0;
	padding: 0;
}


#logging{
	background: url(../img/thirdBG.jpg) 50% 0 no-repeat fixed;
	border-bottom: 1px solid black;
	height: 650px;
	padding: 100px 0 0 0;	
}

#chronicling{
	background:url(../img/firstBG.jpg) 50% -75px no-repeat fixed;
	border-bottom: 1px solid black;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#tips{
	background: url(../img/secondBG.jpg) 50% 0 no-repeat fixed;
	border-bottom: 1px solid black;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}


#about{
	background: url(../img/thirdBG.jpg) 50% 0 no-repeat fixed;
	border-bottom: 1px solid black;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}



.setup-wrapper {background: #fefef7; display: block; margin: 0; position: absolute}

.section-title {text-align: center; padding: 20px;}

.description { display: block; padding: 100px; width: 500px;}

.page-number {margin-top: 200px; height: 500; }

h2 {color: white; font-size: 102px!important; margin-top: 100px; }
h3 {font-size: 72px}

.book {display: block; height: 500px; width: 600px; background: black; float: right; margin-top: 100px; top:0; z-index: 9999; }

.fixed {position: fixed; right: 0; margin-top: 100px}